<!doctype html>
<html>
  <head>
    <title>booze server</title>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round|Shanti' rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" type="text/css" href="/static/css/booze.less">
    <script type="text/javascript" src="/static/js/less.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/knockout.min.js"></script>
    <script type="text/javascript" src="/static/js/booze.js"></script>
  </head>
  <body>
    <header>
      <a href="https://github.com/singhsaysdotcom"><img class="fork" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <h1>booze</h1>
    </header>
    <div role="main">{% block content %}{% endblock content %}</div>
    <footer>
      <p>Documentation : <a href="http://github.com/singhsaysdotcom/booze">github</a> &nbsp;&nbsp;
         Powered by : <a href="http://www.google.com/appengine">Google AppEngine</a> | <a href="http://python.org">Python</a> &nbsp;&nbsp;
         Related: <a href="http://github.com/singhsaysdotcom/boozerb">Booze for Ruby</a> | <a href="http://github.com/singhsaysdotcom/pybooze">Booze for Python</a>
      </p>
    </footer>
  </body>
</html>
